<!-- navbar.component.html -->
<nav class="nav-bar">
<button mat-icon-button *ngIf="!isSidenavOpen" (click)="toggleSidenav()" class="menu-button">
  <mat-icon>menu</mat-icon>
</button>
</nav>
<mat-sidenav mode="side" [opened]="isSidenavOpen" [style.width.px]="isSidenavOpen ? 290 : 0" class="sidenav">
    <button mat-icon-button *ngIf="isSidenavOpen" (click)="toggleSidenav()" class="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
  <mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="closeSidenav()">HOME</a>
    <a mat-list-item routerLink="/sales" (click)="closeSidenav()">SALES</a>
    <a mat-list-item routerLink="/inventory" (click)="closeSidenav()">INVENTORY</a>
    <a mat-list-item (click)="onClick()"class="logout-button">LOGOUT</a>
  </mat-nav-list>

</mat-sidenav>