<app-navbar></app-navbar>

<section class="form-section">
  <form [formGroup]="sales" (ngSubmit)="onSubmit()">
    <div formArrayName="salesArray">
      <div *ngFor="let sale of salesArrayControls; let i = index" [formGroupName]="i">

        <div class="fila1">
          
            <input type="text" class="form-control idclient" formControlName="idClient" placeholder="ID Client" >
          
          
            <input type="text" class="form-control nameclient" formControlName="nameClient" placeholder="Name Client">
          
          
            <input type="date" class="form-control date" formControlName="date" placeholder="Date">
          
        </div>
        <div class="fila2">
          
            <input type="number" class="form-control order" formControlName="order" placeholder="Order">
          
          
            <input type="text" class="form-control direction" formControlName="direction" placeholder="Direction">
          
        </div>
        <div class="fila3">
          
            <input type="text" class="form-control phone" formControlName="phone" placeholder="Phone">
          
          
            <input type="text" class="form-control email" formControlName="email" placeholder="Email">
          
        </div>
        <div class="fila4">
         
            <input type="text" class="form-control idvendor" formControlName="idVendor" placeholder="ID Vendor">
            <input type="text" class="form-control namevendor" formControlName="nameVendor" placeholder="Name Vendor">
          
        </div>

        <div class="fila5" >
          
            <input type="text" class="form-control nameproduct" formControlName="nameProduct" placeholder="Name Product">
            <input type="number" class="form-control stock" formControlName="stockPSales" placeholder="Stock">
            <input type="number" class="form-control discount" formControlName="discount" placeholder="Discount">
            <input type="number" class="form-control unitprice" formControlName="unitPrice" placeholder="Unit Price">
            <input type="number" class="form-control totalpsales" formControlName="totalPSales" placeholder="Total PSales">   
            <button type="button" (click)="removeRow(i)" class="btn btn-danger remove">
              <img src="../../assets/img/EliminarFactura.png" alt="Agregar" class="imgeliminar"/></button>
          
        </div>
      </div>
    </div>

    <div class="submit-button">
      <button type="button" (click)="duplicateRow()" class="btn btn-success">
        <img src="../../assets/img/Agregar.png" alt="Agregar" class="imgagregar"/>
      </button> 
      
      
    </div>
    <div class="Enviar">
      <button type="submit" class="btn btn-primary">SAVE</button>
    </div>
  </form>
</section>
