.tableproduct{
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFDB58;
}
.table{
    background-color: #FFFFFF;
    height: 80%;
    overflow: scroll;
    overflow-x: hidden;

}

.main{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.seeproduct{
    background-color: transparent;
    border: 1px solid #ced4da; /* Borde */
    padding-inline: 250px;
    padding-block: 5px;
    font-size: 36px;
    font-weight: bold;
}
input{
    width: 250px;
    height: 25px;
    font-size: 24px;
    font-weight: bold;
}
.imgagregar{
  width: 50px;
  height: 50px;
}
.fila1,
.fila2{
  display: flex;
  width: 100%;
  justify-content: center;
}

/* Estilo para todos los botones */
button {
    padding: 12px 20px; /* Ajusta según sea necesario */
    font-size: 16px; /* Ajusta según sea necesario */
    background-color: transparent; /* Color gris */
    border: 1px solid #ced4da; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    color: #fff; /* Color del texto (blanco en este caso) */
    cursor: pointer;
  }
  
  /* Estilo para el botón de clase 'btn-success' (verde) */
  .btn-success {
    background-color: #32CD32; /* Cambia el color de fondo a verde */
    border-color: #32CD32; /* Cambia el color del borde a verde */
  }
  
  /* Estilo para el botón de clase 'btn-danger' (rojo) */
  .btn-danger {
    background-color: #FF6347; /* Cambia el color de fondo a rojo */
    border-color: #FF6347; /* Cambia el color del borde a rojo */
  }
  
  /* Estilo para el botón de clase 'btn-primary' (amarillo) */
  .btn-primary {
    background-color: #FFDB58; /* Cambia el color de fondo a amarillo */
    border-color: #FFDB58; /* Cambia el color del borde a amarillo */
  }
  
  /* Otros estilos específicos de botones según sea necesario */
  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .form {
    width: 100%;
    max-width: 1000px;
    /* Adjust the max-width according to your needs */
    padding: 20px;
  }
  

  .productosam {
    width: 40%;
    height: 500px;
    margin: auto;
    padding: 20px;
    background-color: #f8f9fa; /* Color de fondo */
    border: 1px solid #ced4da; /* Borde */
    border-radius: 5px; /* Esquinas redondeadas */
    justify-content: center;
    
}

.productosam h1 {
    text-align: center;
}

.form-control {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.fila3 {
    display: flex;
    justify-content: center;
}

.fila4 {
    display: flex;
    justify-content: center;
}

.btn-success {
    width: 100%;
    margin-top: 100px;
}

/* Puedes agregar estilos adicionales según sea necesario */
