<!-- inventory.component.html -->
<section class="main">
<app-navbar></app-navbar>

  <!-- Formulario de creación de producto -->
  <section *ngIf="this.mostrar" class="productosam">
    <h1>AGREGAR PRODUCTOS</h1>
    <form [formGroup]="inventory">
      <div class="mb-3">
        <div class="fila1">
        
          <input type="text" class="form-control" formControlName="nameProduct"
            placeholder="Name Product">
        
      </div>
        <div class="fila2">
        
           <input type="text" class="form-control" formControlName="description"
            placeholder="description">
        
      </div>
      <div class="fila3">
        
          <input type="text" class="form-control"  formControlName="order" placeholder="order">
          <input type="text" class="form-control"  formControlName="category"
            placeholder="category">
        
      </div>
      <div class="fila4">
        
          <input type="text" class="form-control"  formControlName="unitPrice" placeholder="unitPrice">
          <input type="text" class="form-control"  formControlName="stock" placeholder="stock">
          <input type="text" class="form-control"  formControlName="stockMinimun"
            placeholder="stockMinimun">
        
      </div>
      </div>
      <button type="button" (click)="onSubmit()" class="btn btn-success">Agregar</button>
    </form>
  </section>

  <!-- Formulario de edición -->
  
  <section *ngIf="!this.mostrar" class="productosam">
    <h1>MODIFICAR PRODUCTOS</h1>
    <form [formGroup]="editForm">
      <div class="mb-3">
        <div class="fila1">
        
          <input type="text" class="form-control" formControlName="nameProduct"
            placeholder="Name Product">
        
      </div>
        <div class="fila2">
        
           <input type="text" class="form-control" formControlName="description"
            placeholder="description">
        
      </div>
      <div class="fila3">
        
          <input type="text" class="form-control"  formControlName="order" placeholder="order">
          <input type="text" class="form-control"  formControlName="category"
            placeholder="category">
        
      </div>
      <div class="fila4">
        
          <input type="text" class="form-control"  formControlName="unitPrice" placeholder="unitPrice">
          <input type="text" class="form-control"  formControlName="stock" placeholder="stock">
          <input type="text" class="form-control"  formControlName="stockMinimun"
            placeholder="stockMinimun">
        
      </div>
      </div>
      <!-- ... otros campos del formulario de edición -->
      <button type="button" (click)="saveEdit()" class="btn btn-success">Guardar Cambios</button>
    </form>
  </section>



  <!-- Tabla de productos -->

  <section class="tableproduct">
    <div class="table">
    <table class="table mt-3">
      <thead>
      </thead>
      <tbody>
        <tr *ngFor="let product of inventoryData" >
          <td class="seeproduct">{{ product.nameProduct }}</td>
          <td>
            <button (click)="editProduct(product)" class="btn btn-warning">Editar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </section>
</section>
